body {
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
}
/* header*/
header {
  position: fixed;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container-fluid.header {
  background-color: rgb(54, 160, 231);
}

.container-fluid.header.col {
  display: inline-flex;
  align-items: center;
}

.container-fluid.header.col-3 {
  display: inline-flex;
}

a {
  text-decoration: none;
}

.search-box {
  width: 400px;
  background-color: black;
  border-radius: 40px;
  height: 40px;
  padding: 1px;
  margin-bottom: 15px;
  margin-top: 19px;
}

.search-in {
  background: none;
  border: none;
  line-height: 37px;
  margin-left: 30px;
  outline: none;
  color: white;
  width: 310px;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
}

.search-icon {
  color: white;
  text-decoration: none;
  position: absolute;
}

.logo {
  width: 50px;
  height: 50px;
  margin-top: 14px;
}
.logo:hover {
  transform: scale(1.05);
}

.container-fluid.header .title {
  font-family: "Oswald";
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  display: inline-block;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
.container-fluid.header .title:hover {
  color: rgb(20, 20, 20);
}

.news,
.cart,
.user-info {
  display: inline-flex;
  float: right;
  padding: 10px 10px 5px 10px;
}

.news a,
.cart a,
.user-info a {
  color: black;
  font: 30px;
}

.news i,
.cart i,
.user-info i {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 25%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.cart a:hover > .cart-in,
.news a:hover > .news-in,
.user-info a:hover > .user-info-in {
  background-color: black;
  color: white;
}

/* Nav */

.container-fluid.nav {
  background-color: #000;
  height: 40px;
}

.nav.container {
  width: 100%;
}

.container-fluid.nav .row {
  align-items: center;
  width: inherit;
}

.container-fluid.nav .row .col-4 {
  display: flex;
}

.container-fluid.nav .row .col-4 .phone,
.container-fluid.nav .row .col-4 .sales,
.container-fluid.nav .row .col-4 .laptop {
  display: flex;
  width: 30%;
  align-items: center;
}

.container-fluid.nav .row .col-4 .phone i,
.container-fluid.nav .row .col-4 .laptop i,
.container-fluid.nav .row .col-4 .sales i {
  color: white;
  font-size: 20px;
}

.container-fluid.nav .row .col-4 .phone:hover,
.container-fluid.nav .row .col-4 .laptop:hover,
.container-fluid.nav .row .col-4 .sales:hover {
  cursor: pointer;
}

.container-fluid.nav .row .col-4 .phone:hover i,
.container-fluid.nav .row .col-4 .laptop:hover i,
.container-fluid.nav .row .col-4 .phone:hover span,
.container-fluid.nav .row .col-4 .laptop:hover span,
.container-fluid.nav .row .col-4 .sales:hover span,
.container-fluid.nav .row .col-4 .sales:hover i {
  color: rgb(160, 159, 159);
}

.container-fluid.nav .row .col-4 .phone span,
.container-fluid.nav .row .col-4 .laptop span,
.container-fluid.nav .row .col-4 .sales span {
  color: white;
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 15px;
}
/* Carousesl */
.size-carousel {
  width: 1200px;
  margin: auto;
  border-radius: 100px;
}
/* Chon loai san pham */
.select-Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Box-select {
  margin: 40px 0;
  padding-top: 15px;
  background-color: white;
  padding-bottom: 5px;
  border-radius: 10px;
}
.select-Item div:hover img {
  transform: scale(1.2);
}
.select-Item div img {
  width: 100%;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

/* Danh sach san pham */
.listItem {
  display: flex;
  flex-wrap: wrap;
}
.box-item {
  background-color: #fff;
  height: 460px;
  width: 25%;
  padding: 12px;
  vertical-align: top;
}
.box-item:hover {
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.name-item-font {
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.name-item-font:hover {
  color: blue;
  cursor: pointer;
}
.cost {
  display: flex;
  justify-content: space-between;
}
.cost-after_sales {
  border-radius: 10px;
  background: rgb(237, 6, 46);
  background: linear-gradient(
    90deg,
    rgba(237, 6, 46, 1) 67%,
    rgba(244, 143, 154, 1) 86%
  );
  padding: 5px 15px;
  font-weight: 700;
  color: #fff;
}
.cost-before_sales {
  font-size: 15px;
}
.about-item {
  display: flex;
  flex-wrap: wrap;
}
.btn-buy {
  border-radius: 5px;
  padding: 5px 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgb(212, 36, 36);
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  display: none;
}
.phone {
  display: flex;
  justify-content: center;
}
.btn-item {
  display: flex;
  justify-content: center;
}

div.box-item:hover .btn-buy {
  display: block;
}
div.box-item:hover .phone {
  transform: scale(1.1);
}
.phone {
  transition: all ease-out 0.3s;
  margin-bottom: 15px;
  margin-top: 12px;
}
.btn-buy:hover {
  transform: scale(1.1);
}
.btn-item {
}
/* footer */
footer li {
  list-style: none;
  margin: 10px 0px;
}
footer li a {
  color: black;
}

footer {
  margin-top: 80px;
}
.footer-box {
  display: flex;
  justify-content: space-around;
  background-color: #36a0e7;
  margin-top: 10px;
  flex-wrap: wrap;
}
.footer-word {
  font-size: 15px;
  margin-top: 10px;
  color: black;
  font-weight: 100;
}

/* JAVA SCRIPT */
.sp {
  display: flex;
  font-size: 20px;
  font-family: monaco;
}
<<<<<<< HEAD
.show{
 padding: 5px 5px;
 margin: 5px 0px;
 font-weight: 300;
 background-color: #fff;
 border: 5px solid #fff;
 border-radius: 10px;
  opacity: 0.5;
  transition: 0.25s;
width: 140px;
font-size: 15px;
margin-top: 10px;
box-shadow: inset 0 0 0 0  rgb(65, 219, 224);
transition: all 0.5s ease;


=======
.show {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  margin: 5px 0px;
  font-weight: 300;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 10px;
  opacity: 0.7;
  transition: 0.25s;
  background-color: rgb(212, 36, 36);
  color: white;
  font-weight: 500;
>>>>>>> f65c7bc6fe4431f0f88f0d10fe040982db45b324
}
.show:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: inset 200px 0 0 0 rgb(65, 219, 224);
  border: 5px solid  rgb(65, 219, 224);
  
 
}
