@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/WebNhom13/assets/fonts/Lexend-Regular.ttf);
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/WebNhom13/assets/fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/WebNhom13/assets/fonts/Quicksand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/WebNhom13/assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/WebNhom13/assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/WebNhom13/assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/WebNhom13/assets/fonts/Roboto-Regular.ttf);
}
body {
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* Carousesl */
.size-carousel {
  width: 1200px;
  margin: auto;
  border-radius: 100px;
}
/* Chon loai san pham */
.select-Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Box-select {
  margin: 40px 0;
  padding-top: 15px;
  background-color: white;
  padding-bottom: 5px;
  border-radius: 10px;
}
.select-Item div:hover img {
  transform: scale(1.2);
}
.select-Item div img {
  width: 100%;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

/* Danh sach san pham */
.listItem {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #fff;
  padding-top: 1px;
  padding-bottom: 1px;
}
.box-item {
  background-color: #fff;
  height: 100%;
  width: 25%;
  padding: 12px;
  vertical-align: top;
  border: 1px solid white;
  border-radius: 10px;
}
.box-item:hover {
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.name-item-font {
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.name-item-font:hover {
  color: blue;
  cursor: pointer;
}
.cost {
  display: flex;
  justify-content: space-between;
}
.cost-after_sales {
  border-radius: 10px;
  background: rgb(237, 6, 46);
  background: linear-gradient(
    90deg,
    rgba(237, 6, 46, 1) 67%,
    rgba(244, 143, 154, 1) 86%
  );
  padding: 5px 15px;
  font-weight: 700;
  color: #fff;
}
.cost-before_sales {
  font-size: 15px;
}
.about-item {
  border-radius: 10px;
  background-color: rgba(227, 215, 215, 0.955);
  display: flex;
  flex-wrap: wrap;
}
.btn-buy {
  border-radius: 5px;
  padding: 5px 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgb(212, 36, 36);
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  visibility: hidden;
}
.phone {
  display: flex;
  justify-content: center;
}
.btn-item {
  display: flex;
  justify-content: center;
}

div.box-item:hover .btn-buy {
  visibility: visible;
}
div.box-item:hover .phone {
  transform: scale(1.1);
}
div#item .phone {
  transition: all ease-out 0.3s;
  margin-bottom: 15px;
  margin-top: 12px;
}
.btn-buy:hover {
  transform: scale(1.1);
}
/* footer */
footer li {
  list-style: none;
  margin: 10px 0px;
}
footer li a {
  color: black;
}
.footer-phone {
  color: red;
}
footer {
  margin-top: 80px;
}
.footer-box {
  display: flex;
  justify-content: space-around;
  background-color: #36a0e7;
  margin-top: 10px;
  flex-wrap: wrap;
}
.footer-word {
  font-size: 15px;
  margin-top: 10px;
  color: black;
  font-weight: 100;
}

/* JAVA SCRIPT */
.sp {
  display: flex;
  font-size: 20px;
  font-family: monaco;
}
#changetype {
  display: flex;
  justify-content: center;
}
.show_xemthem {
  padding: 5px 5px;
  margin: 5px 0px;
  font-weight: 300;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 10px;
  opacity: 0.5;
  transition: 0.25s;
  width: 140px;
  font-size: 15px;
  margin-top: 10px;
  box-shadow: inset 0 0 0 0 rgb(65, 219, 224);
  transition: all 0.5s ease;
}
.show_xemthem:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: inset 200px 0 0 0 rgb(65, 219, 224);
  border: 5px solid rgb(65, 219, 224);
  color: #fff;
  font-weight: 700;
}
/* reponsive */
/* Danh cho Mobile */
@media only screen and (max-width: 739px) {
  .listItem {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #fff;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .size-carousel {
    margin-top: 100px;
  }
  .box-item {
    width: 50%;
    height: 100%;
  }
  .box-item img {
    width: 80%;
  }
  .name-item-font {
    font-size: 0.625em;
  }
  .cost-after_sales {
    font-size: 0.625em;
    padding: 0.3125em;
    width: 50%;
  }
  .cost-before_sales {
    font-size: 0.625em;
  }
  .cost {
    flex-direction: column;
  }
  .about-item {
    font-size: 0.625em;
  }
  .btn-item {
    display: none;
  }
  .sales-bank img {
    width: 20%;
    height: 3.125em;
  }
  .show {
    background-color: red;
    border: none;
    opacity: 1;
    color: #fff;
  }
  /* footer */
  footer li {
    list-style: none;
    margin: 10px 0px;
  }
  footer li a {
    color: black;
  }
  .footer-phone {
    color: red;
  }
  footer {
    margin-top: 20px;
  }
  .footer-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: #36a0e7;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .footer-word {
    font-size: 15px;
    margin-top: 10px;
    color: black;
    font-weight: 100;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .listItem {
    height: 100%;
  }
  .box-item {
    width: 33%;
    height: 100%;
  }
  .box-item img {
    width: 70%;
  }
  .name-item-font {
    font-size: 0.625em;
  }
  .cost-after_sales {
    font-size: 0.625em;
    padding: 0.3125em;
    width: 70%;
  }
  .cost-before_sales {
    font-size: 0.625em;
  }
  .cost {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about-item {
    font-size: 0.625em;
  }
  .btn-item {
    display: none;
  }
  .sales-bank img {
    width: 20%;
    height: 3.125em;
  }
  .show {
    background-color: red;
    border: none;
    opacity: 1;
    color: #fff;
  }
  /* footer */
  footer li {
    list-style: none;
    margin: 10px 0px;
  }
  footer li a {
    color: black;
  }
  .footer-phone {
    color: red;
  }
  footer {
    margin-top: 80px;
  }
  .footer-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: #36a0e7;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .footer-word {
    font-size: 15px;
    margin-top: 10px;
    color: black;
    font-weight: 100;
  }
}

@media screen and (max-width: 600px) {
  .container.slider {
    margin-top: 220px !important;
  }
}

body a {
  text-decoration: none !important;
}
