* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none !important;
}

.container-fluid.header {
  background-color: rgb(54, 160, 231);
}

.container-fluid.header.col {
  display: inline-flex;
  align-items: center;
}

.container-fluid.header.col-3 {
  display: inline-flex;
}

a {
  text-decoration: none;
}

.search-box {
  width: 400px;
  background-color: black;
  border-radius: 40px;
  height: 40px;
  padding: 1px;
  margin-bottom: 15px;
  margin-top: 19px;
}

.search-in {
  background: none;
  border: none;
  line-height: 37px;
  margin-left: 30px;
  outline: none;
  color: white;
  width: 310px;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
}

.search-icon {
  color: white;
  text-decoration: none;
  position: absolute;
}

.logo {
  width: 50px;
  height: 50px;
  margin-top: 14px;
}
.logo:hover {
  transform: scale(1.05);
}

.container-fluid.header .title {
  font-family: "Oswald";
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  display: inline-block;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
.container-fluid.header .title:hover {
  color: rgb(20, 20, 20);
}

.news,
.cart,
.user-info {
  display: inline-flex;
  float: right;
  padding: 10px 10px 5px 10px;
}

.news a,
.cart a,
.user-info a {
  color: black;
  font: 30px;
}

.news i,
.cart i,
.user-info i {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 25%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.cart a:hover > .cart-in,
.news a:hover > .news-in,
.user-info a:hover > .user-info-in {
  background-color: black;
  color: white;
}

/* Nav */

.container-fluid.nav {
  background-color: #000;
  height: 40px;
}

.nav.container {
  width: 100%;
}

.container-fluid.nav .row {
  align-items: center;
  width: inherit;
}

.container-fluid.nav .row .col-4 {
  display: flex;
}

.container-fluid.nav .row .col-4 .phone,
.container-fluid.nav .row .col-4 .sales,
.container-fluid.nav .row .col-4 .laptop {
  display: flex;
  width: 30%;
  align-items: center;
}

.container-fluid.nav .row .col-4 .phone i,
.container-fluid.nav .row .col-4 .laptop i,
.container-fluid.nav .row .col-4 .sales i {
  color: white;
  font-size: 20px;
}

.container-fluid.nav .row .col-4 .phone:hover,
.container-fluid.nav .row .col-4 .laptop:hover,
.container-fluid.nav .row .col-4 .sales:hover {
  cursor: pointer;
}

.container-fluid.nav .row .col-4 .phone:hover i,
.container-fluid.nav .row .col-4 .laptop:hover i,
.container-fluid.nav .row .col-4 .phone:hover span,
.container-fluid.nav .row .col-4 .laptop:hover span,
.container-fluid.nav .row .col-4 .sales:hover span,
.container-fluid.nav .row .col-4 .sales:hover i {
  color: rgb(160, 159, 159);
}

.container-fluid.nav .row .col-4 .phone span,
.container-fluid.nav .row .col-4 .laptop span,
.container-fluid.nav .row .col-4 .sales span {
  color: white;
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 15px;
}

.container-fluid.form {
  background-color: #f8f9fa;
  padding: 0;
}

.container-form {
  width: 90%;
  margin: auto;
}

.form-content {
  padding-top: 70px;
  width: 1000px !important;
}

.form-login {
  box-shadow: 10px 20px 34px -15px rgb(0 0 0 / 24%);
  border: 1px solid rgb(0 0 0 / 24%);
}

.header-form {
  margin-top: 40px;
}

.header-form i {
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
  color: rgb(154, 154, 154);
}

.header-form i.fa-facebook:hover {
  color: rgb(25, 25, 210);
}

.header-form i.fa-google:hover {
  color: rgb(233, 64, 13);
}

.main-form > label {
  margin: 25px 0 10px 0;
}

.main-form > input {
  width: 100%;
  font-size: 16px;
  padding: 12px 8px;
  border-radius: 5px;
  border: #ccc 1px solid;
  outline: #e3b04b;
}

.main-form input:focus {
  border: 1px solid #e3b04b !important;
}

.main-form .btn-login {
  margin-top: 30px;
  padding: 12px 0;
}

.main-form a {
  text-decoration: none !important;
  color: rgba(239, 10, 10, 0.859) !important;
}
.remember {
  font-size: 40px;
}

/* Footer */

footer li {
  list-style: none;
  margin: 10px 0px;
}
footer li a {
  color: black;
}
.footer-box {
  display: flex;
  justify-content: space-around;
  background-color: #36a0e7;
  margin-top: 50px;
  flex-wrap: wrap;
}
.footer-word {
  font-size: 15px;
  margin-top: 10px;
  color: black;
  font-weight: 100;
}
#apple,
#samsung,
#xiaomi,
#asus,
#oppo,
#nokia {
  display: block;
}

/* JAVA SCRIPT */
/* .sp {
  display: flex;
  font-size: 20px;
  font-family: monaco;
}
.show {
  position: absolute;
  right: 47.5%;
  padding: 5px 5px;
  margin: 5px 0px;
  font-weight: 300;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 10px;
  opacity: 0.5;
  transition: 0.25s;
  background-color: hsla(292, 87%, 48%, 0.67);
  color: white;
  font-weight: 500;
}
.show:hover {
  opacity: 1;
} */
