* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container-fluid.form {
  background-color: #f8f9fa;
  padding: 0;
}

.container-form {
  width: 90%;
  margin: auto;
}

.form-content {
  margin-top: -20px;
  width: 1000px !important;
}

.form-login {
  box-shadow: 10px 20px 34px -15px rgb(0 0 0 / 24%);
  border: 1px solid rgb(0 0 0 / 24%);
}

.header-form {
  margin-top: 40px;
}

.header-form i {
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
  color: rgb(154, 154, 154);
}

.header-form i.fa-facebook:hover {
  color: rgb(25, 25, 210);
}

.header-form i.fa-google:hover {
  color: rgb(233, 64, 13);
}

.main-form > label {
  margin: 25px 0 10px 0;
}

.main-form > input {
  width: 100%;
  font-size: 16px;
  padding: 12px 8px;
  border-radius: 5px;
  border: #ccc 1px solid;
  outline: #e3b04b;
}

.main-form input:focus {
  border: 1px solid #e3b04b !important;
}

.main-form .btn-login {
  margin-top: 30px;
  padding: 12px 0;
}

.main-form a {
  text-decoration: none !important;
  color: rgba(239, 10, 10, 0.859) !important;
}
.remember {
  font-size: 40px;
}

/* Footer */

footer li {
  list-style: none;
  margin: 10px 0px;
}
footer li a {
  color: black;
}
.footer-box {
  display: flex;
  justify-content: space-around;
  background-color: #36a0e7;
  margin-top: 50px;
  flex-wrap: wrap;
}
.footer-word {
  font-size: 15px;
  margin-top: 10px;
  color: black;
  font-weight: 100;
}
#apple,
#samsung,
#xiaomi,
#asus,
#oppo,
#nokia {
  display: block;
}

/* JAVA SCRIPT */
.sp {
  display: flex;
  font-size: 20px;
  font-family: monaco;
}
.show {
  position: absolute;
  right: 47.5%;
  padding: 5px 5px;
  margin: 5px 0px;
  font-weight: 300;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 10px;
  opacity: 0.5;
  transition: 0.25s;
  background-color: hsla(292, 87%, 48%, 0.67);
  color: white;
  font-weight: 500;
}
.show:hover {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .card-img-login {
    display: none;
  }
  .form-login {
    min-width: 350px !important;
    margin-left: 35px;
  }
}
