/* begin */
.name {
  font-size: 50px;
  margin-left: 78px;
  font-weight: 400;
  color: aliceblue;
}
.name-2 {
  font-size: 20px;
  margin-left: 78px;
  color: aliceblue;
}
.begin {
  background-color: #36a0e7;
  height: 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.btn-signout {
  background-color: #36a0e7;
  border: 1px solid #fff;
  padding: 10px;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  color: beige;
}
.btn-signout:hover {
  transform: scale(1.05);
}
/* end */
.end {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.btn-info {
  display: flex;
  flex-direction: column;
}
.btn-info-item {
  border: none;
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
  height: 55px;
  width: 250px;
}
.btn-info-item:hover {
  border: 2px solid black;
}
.btn-info-item:first-child {
}
/* profile */
.profile,
.address,
.order,
.pay,
.wishlist {
  border: 2px solid;
  margin-left: -50px;
  border-radius: 10px;
}
.profile {
  height: 300px;
}
.profile-info-item {
  margin: 20px 10px;
}
.btn-profile {
  width: 200px;
  border-radius: 10px;
  background-color: blue;
  padding: 5px;
  color: #fff;
  box-shadow: inset 0 0 0 0 rgb(118, 240, 138);
  transition: all 0.3s ease;
  border: none;
}
.btn-profile:hover {
  border: none;
  box-shadow: inset 200px 0 0 0 rgb(118, 240, 138);
  color: black;
}
/* address */
.address {
  height: 400px;
}
.address-item {
  border: 2px solid;
  height: 300px;
  width: 250px;
  margin: 30px 20px;
  border-radius: 10px;
}
.address-box {
  margin-left: 20px;
}
.address-header,
.pay-header,
.order-header {
  margin-left: 40px;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
}
.address-header:hover {
  color: green;
}
.default {
  background-color: rgb(243, 238, 238);
  opacity: 0.5;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
.address-row1 {
  position: relative;
}
.icon {
  position: absolute;
  left: 200;
  top: 5;
}
.btn-edit {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s ease-in;
  box-shadow: inset 0 0 0 0 black;
}
.btn-edit:hover {
  transform: scale(1.05);
  color: #fff;
  box-shadow: inset 200px 0 0 0 black;
}

/* order */
.order-item {
  margin-left: 40px;
  font-weight: 700;
  margin-top: 10px;
}
.order-item-word {
}
.order-item img {
  border: 1px solid #000;
  border-radius: 10px;
}

.order-header:hover {
  color: blue;
}
/* pay */
.pay-header:hover {
  color: #36a0e7;
}
.title-pay {
  width: 150px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  font-weight: 700;
}
.info-pay {
  background-color: bisque;
  border-radius: 5px;
}

body a {
  text-decoration: none !important;
}
